body {
  background-color: rgb(130, 58, 66);
  margin: 0%;
  background-image: linear-gradient(
      45deg,
      transparent 20%,
      black 25%,
      transparent 25%
    ),
    linear-gradient(-45deg, transparent 20%, black 25%, transparent 25%),
    linear-gradient(-45deg, transparent 75%, black 81%, transparent 0%);
  background-size: 30px 30px, 30px 30px;
  animation: slide 30s infinite;
}

@keyframes slide {
  100% {
    background-position: 100% 0;
  }
}

div#app {
  display: grid;
  grid-template-rows: 200px 500px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    'fodder modal'
    'pokemon modal';
}

div#fodder {
  grid-area: fodder;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'title title'
    'search buttons';
}

h1#poke-title {
  grid-area: title;
  background-color: rgba(0, 0, 0, 0.6);
  justify-self: start;
  align-self: start;
  box-sizing: border-box;
  border-radius: 0 0 120px 0;
  width: 60%;
  margin: 0;
  color: #fff;
}
h1#poke-title:hover {
  background-color: rgb(231, 168, 38);
  color: white;
}

form#poke-search {
  grid-area: search;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

input {
  color: #fff;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 8px;
  margin: 10px;
  width: 100px;
  height: 30%;
}
p:hover {
  background-color: rgb(231, 168, 38);
}

div#buttons {
  grid-area: buttons;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 78px;
}

#pokemon-name {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  width: 100%;
  height: 30%;
  margin-left: 40px;
}

div #sub {
  display: flex;
  justify-content: center;
  margin-left: 80px;
}

section {
  grid-area: pokemon;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  justify-content: space-around;
}

#history {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin-left: 20px;
  width: 300px;
}

#history li {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  max-height: 100px;
  border-radius: 8px;
  width: 90%;
  height: 100%;
}

#history img {
  width: 85px;
  height: 85px;
}
#history span {
  font-size: 1.2rem;
  margin: 25px 0 0;
  color: #fff;
}

#poke-list {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  gap: 5px;
  max-width: 1200px;
  padding: 0;
}

#poke-list li {
  text-align: center;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 100px;
  max-height: 100px;
  border-radius: 8px;
  transition: all 0.8s ease;
}

#poke-list li:hover {
  transform: scale(1.1, 1.1);
  background-color: rgb(231, 168, 38);
}

#poke-list img {
  width: 85px;
  height: 85px;
  transition: all 0.8s ease;
}

#poke-list img:hover {
  transform: scale(1.3, 1.3);
}

#poke-list h2 {
  font-size: 1rem;
  margin: 10px 0 0;
}
div#poke-model {
  grid-area: modal;
  display: grid;
}
div h3 {
  color: #fff;
}
div h2 {
  color: #fff;
}
